<div class="menu_left">
	<div class="menu_row">
		<div class="menu_cell menu_legend" id="SELECTALL" onclick="select_all('_')" active="0">ALL</div>
		<div class="menu_cell menu_legend" id="MGH7" onclick="select_all('MGH7')" active="0">MGH7</div>
		<div class="menu_cell menu_legend" id="MGH5" onclick="select_all('MGH5')" active="0">MGH5</div>
		<div class="menu_cell menu_legend" id="RB21" onclick="select_all('RB21')" active="0">RB21</div>
		<div class="menu_cell menu_legend" id="RB20" onclick="select_all('RB20')" active="0">RB20</div>
		<div class="menu_cell menu_legend" id="#19" onclick="select_all('#19')" active="0">#19</div>
		<div class="menu_cell menu_legend" id="MGH39" onclick="select_all('MGH39')" active="0">MGH39</div>
		<div class="menu_cell menu_legend" id="ND-32" onclick="select_all('ND-32')" active="0">ND-32</div>
		<div class="menu_cell menu_legend" id="ND-31" onclick="select_all('ND-31')" active="0">ND-31</div>
	</div>	<div class="menu_row">
		<div class="menu_cell menu_legend" id="Ctrl" onclick="select_all('Ctrl')" active="0">Control</div>
		<div class="menu_check menu_cell"><input type="checkbox" id="Ctrl_MGH7" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="Ctrl_MGH5" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="Ctrl_RB21" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="Ctrl_RB20" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="Ctrl_#19" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="Ctrl_MGH39" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="Ctrl_ND-32" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="Ctrl_ND-31" name="checkbox" onchange="checked_cliked()"></div>
	</div>	<div class="menu_row">
		<div class="menu_cell menu_legend" id="60mARS" onclick="select_all('60mARS')" active="0">60m Arsenite </div>
		<div class="menu_check menu_cell"><input type="checkbox" id="60mARS_MGH7" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="60mARS_MGH5" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="60mARS_RB21" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="60mARS_RB20" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="60mARS_#19" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="60mARS_MGH39" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="60mARS_ND-32" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="60mARS_ND-31" name="checkbox" onchange="checked_cliked()"></div>
	</div>	<div class="menu_row">
		<div class="menu_cell menu_legend" id="1hR" onclick="select_all('1hR')" active="0">1h Recovery</div>
		<div class="menu_check menu_cell"><input type="checkbox" id="1hR_MGH7" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="1hR_MGH5" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="1hR_RB21" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="1hR_RB20" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="1hR_#19" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="1hR_MGH39" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="1hR_ND-32" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="1hR_ND-31" name="checkbox" onchange="checked_cliked()"></div>
	</div>	<div class="menu_row">
		<div class="menu_cell menu_legend" id="12hR" onclick="select_all('12hR')" active="0">12h Recovery</div>
		<div class="menu_check menu_cell"><input type="checkbox" id="12hR_MGH7" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="12hR_MGH5" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="12hR_RB21" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="12hR_RB20" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="12hR_#19" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="12hR_MGH39" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="12hR_ND-32" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="12hR_ND-31" name="checkbox" onchange="checked_cliked()"></div>
	</div>	<div class="menu_row">
		<div class="menu_cell menu_legend" id="24hR" onclick="select_all('24hR')" active="0">24h Recovery</div>
		<div class="menu_check menu_cell"><input type="checkbox" id="24hR_MGH7" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="24hR_MGH5" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="24hR_RB21" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="24hR_RB20" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="24hR_#19" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="24hR_MGH39" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="24hR_ND-32" name="checkbox" onchange="checked_cliked()"></div>
		<div class="menu_check menu_cell"><input type="checkbox" id="24hR_ND-31" name="checkbox" onchange="checked_cliked()"></div>
	</div></div>
